body{
    overflow: hidden;
    display: flex;
    justify-content: center;
     background-image: url(/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-width: 40%;
}

.conteneurPrincipal{
   
    padding: 10px 20px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: black; */
    border-radius: 10px;
    height: 95vh;
    width: 81.3%;
    /* border: 2px solid black; */
    /* margin: 10px; */
}

.entete{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    /* background-color: #edbb7c; */
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5px;
    color: white;
    height: 12vh;
    padding: 10px 10px 0;
    /* background-image: linear-gradient(#a0ecc1fb,white,#a0ecc1fb,white,white,#a0ecc1fb); */
}
.entete button{
    background: url('JOM.png') no-repeat center;
    background-size: 5%;
    width: 100%;
    display: flex;
    border: none;
    border-left: black 10px solid;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-radius: 13px;
    padding: 0.5rem;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
.addTask:hover{
   
}

.contener{
   
    /* background-image: linear-gradient(#a0ecc1fb,white,#a0ecc1fb,white,white,#a0ecc1fb); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    /* justify-content: space-around; */
    border-radius: 10px;
    margin-top: 10px;
    height: 80vh;
    width: 100%;
}

.collone{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* justify-content: center; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid aqua;
    min-width: 15vw;
    width: 18%;
    height: 77vh;
    margin: 10px;
   
}

.titre{
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: dimgray;
    height: 6.5vh;
    color: white;
    justify-content: space-between;
    padding: 0 10px;
}
.titre i{
    /* margin-right: 7px; */
}

.contentNote{
    background: url('JOM.png') no-repeat center;
    background-size: 75%;
    width: 100%;
    min-width: 100%;
    height: 70.5vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
} 
#valeurTache{
    display: grid;
    width: 95%;

    /* border: #292E49 solid 1px; */
    /* width: 70%;
    height: 9vh; */
}

.divTache{
    margin: 10px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: #292E49 solid 1px;
    border-radius: 5px;
    width: 95%;


}
#buttonG{
    /* visibility: hidden; */
}

.btn{
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    background-color: transparent;
    animation: bton 2s ease-in-out infinite;
}
#buttonD{
    display: flex;
    float: right;
    /* margin-left: 11vw; */
}
@keyframes bton{
    0%{
        transform: scale(0.5);
        color: white;
        background-color: red;
        border-radius: 50%;
    }
    25%{
        transform: scale(1);
        color: rgb(5, 24, 37);
        background-color: rgb(154, 255, 71);
        border-radius: 50%;

    }
    50%{
        transform: scale(0.5);
        color: white;
        background-color: red;
        border-radius: 50%;
    }
    75%{
        transform: scale(1);
        color: rgb(5, 24, 37);
        background-color: rgb(154, 255, 71);
        border-radius: 50%;

    }
    100%{
        transform: scale(1);
        color: white;
        background-color: red;
        border-radius: 50%;
        
    }
}
.collone:first-child .divTache #buttonG{
    display: none;
} 
.collone:last-child .divTache #buttonD{
    display: none;
}

.contentFormulaire{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    background-image: linear-gradient(#a0ecc1fb,white,#a0ecc1fb,white,white,#a0ecc1fb);
    /* background-size: 80%;  */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #292E49 solid 2px;
    height: 25rem;
    width: 25rem;
    background-color: white;
    /* border-radius: 50%; */
}
.corpFormulair{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 95%;
    font-weight: bold;
}
.corpFormulair input{
    height: 4vh;
}

.titreFormulaire{
    display: flex;
    align-items: center;
    padding: 5px ;
    background-color: #292E49;
    color: white;
    width: 95%;
}
.titreFormulaire i{
    margin-left: 40%;
}
.divLabel{
    margin-top: 10px;
}
.ajout{
    margin-top: 10px;
    height: 4vh;
    
}
.fa-delete-left{
    font-size: 2rem;
}

#modal{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalSpr{
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 20rem;
    border: #292E49 solid 1px;
    background: url('JOM.png') no-repeat center;
    background-image: linear-gradient(#a0ecc1fb,white,#a0ecc1fb,white,white,#a0ecc1fb);
    background-size: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.divbtn{
    display: flex;
    justify-content: space-between;
    padding:0 20px;
    align-items: center;
    margin-top: 80px;
}
.btnModal{
    width: 7rem;
    height: 3.5rem;
    font-size: 1.5rem;
    border-radius: 7px;
    background-color: mediumaquamarine;
}
.btnModal:hover{
    width: 7rem;
    height: 7rem;
    animation: bton 2s ease-in-out infinite; 

}