body{
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-image: url(/back2.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-width: 40%;
    box-sizing: border-box;
    overflow-x: hidden;
    line-break: anywhere;
}
.viderCache{
    display: flex;
    justify-content: space-around;
}
.cacher{
    background-color: red;
    
    padding: 8px;
}

.conteneurPrincipal{
    
    padding: 10px 20px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: black; */
    border-radius: 10px;
    height: 95vh;
    width: 81.3%;
    /* border: 2px solid black; */
    /* margin: 10px; */
}

.entete{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url('JOM.png') no-repeat center;
    background-size: 15%;
    border-radius: 10px;
    margin-bottom: 5px;
    color: white;
    height: 12vh;
    padding: 10px 10px 0;
    /* background-image: linear-gradient(#a0ecc1fb,white,#a0ecc1fb,white,white,#a0ecc1fb); */
}
.entete button{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 10%;
    height: 6vh;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border: none;
    border-left: #016362 10px solid;
    border-top: #016362 1px solid;
    border-bottom: #016362 1px solid;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-radius: 13px;
    border-right: #016362 10px solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
.addTask:hover{
   
}

.contener{
   
    /* background-image: linear-gradient(#a0ecc1fb,white,#a0ecc1fb,white,white,#a0ecc1fb); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    /* justify-content: space-around; */
    border-radius: 10px;
    margin-top: 10px;
    height: 80vh;
    width: 100%;
}

.collone{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* justify-content: center; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid aqua;
    min-width: 15vw;
    width: 18%;
    height: 77vh;
    margin: 10px;
    overflow-y: auto;   
    overflow-x: hidden;
}

.titre{
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: dimgray;
    height: 6.5vh;
    color: white;
    justify-content: space-between;
    padding: 0 10px;
}

.contentNote{
    background: url('JOM.png') no-repeat center;
    background-size: 75%;
    width: 100%;
    min-width: 100%;
    height: 70.5vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
} 
.valeurTache ,.valeurTacheAffiche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 0;
    transform: translateY(19vh);
    transition: transform 1s ease;
}
.valeurTacheAffiche{
    transform: translateY(0);
}
#itache{
    font-weight: bold;
    margin-bottom: 10px;
    background-color: rgb(37, 37, 123);
    padding: 5px;
    width: 5%;
    
}

.divTache{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(58, 98, 172);
    color: white;
    border-radius: 5px;
    width: 90%;
    height: 17vh;
    padding: 6px;
    overflow: hidden;
}
.contentItache{
    display: flex;
}

.periodeTache{
  
   height: 6vh;
   border-radius: 5px;
   display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.jotna{
    background-color: lightseagreen;
    border: 5px solid lightseagreen;
    border-radius: 10px;
}

#contentTexarea{
    font-weight: bold;
    margin: auto;
    padding: 10px;
    /* background-color: aquamarine; */
    margin-bottom: 10px;
}
#contentInputDate{
    margin: 5px;
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
#contentInputTime{
    margin: 5px;
    background-color: rgb(0, 255, 64);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
#contentInputTimefin{
    margin: 5px;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.btn{
    border: none;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%;
    background-color: transparent;
    animation: bton 2s ease-in-out infinite;
}
#buttonD{
    display: flex;
    float: right;
    /* margin-left: 11vw; */
}
.btnrmv{

}
@keyframes bton{
    0%{
        transform: scale(0.5);
        color: white;
        background-color: rgb(26, 54, 3);
        border-radius: 50%;
    }
    25%{
        transform: scale(1);
        color: rgb(5, 24, 37);
        background-color: rgb(154, 255, 71);
        border-radius: 50%;

    }
    50%{
        transform: scale(1);
        color: white;
        background-color: rgb(36, 77, 4);
        border-radius: 50%;
    }
    75%{
        transform: scale(0.5);
        color: rgb(5, 24, 37);
        background-color: rgb(154, 255, 71);
        border-radius: 50%;

    }
    100%{
        transform: scale(1);
        color: white;
        background-color: rgb(28, 59, 2);
        border-radius: 50%;
        
    }
}
.collone:first-child .divTache #buttonG{
    display: none;
} 
.collone:last-child .divTache #buttonD{
    display: none;
}
.collone .contentItache .restaurer{
    display: none;
    
}
.contentCorbeille .contentItache #itache{
    display: none;
}
.contentCorbeille .divTache #buttonD{
    display: none;
}
.contentCorbeille .divTache #buttonG{
    display: none;
}

.contentFormulaire{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    background-image: linear-gradient(#a0ecc1fb,white,#a0ecc1fb,white,white,#a0ecc1fb);
    /* background-size: 80%;  */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #292E49 solid 2px;
    height: 25rem;
    width: 25rem;
    background-color: white;
    /* border-radius: 50%; */
}
.corpFormulair{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 95%;
    font-weight: bold;
}
.corpFormulair input{
    height: 4vh;
}

.titreFormulaire{
    display: flex;
    align-items: center;
    padding: 5px ;
    background-color: #292E49;
    color: white;
    width: 95%;
}
.titreFormulaire i{
    margin-left: 40%;
}
.divLabel{
    margin-top: 10px;
}
.ajout{
    margin-top: 10px;
    height: 4vh;
    
}
.fa-delete-left{
    font-size: 2rem;
}

#modal{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalSpr{
    display: flex;
    flex-direction: column;
    width: 35rem;
    background: url('JOM.png') no-repeat center;
    background-size: 40%;
    background-color: thistle;
    font-size: 1.5rem;
    font-weight: bold;
    padding:0% 3% 2% 3%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.divbtn{
    display: flex;
    justify-content: space-between;
    padding:0 40px;
    align-items: center;
    margin-top: 9rem;
}
.btnModal{
   
    font-size: 1.5rem;
    border-radius: 7px;
    background-color: mediumaquamarine;
    border: none;
    padding: 2% 3%;
}

#suprimer{
    animation: btonSuprimer 2s ease-in-out infinite; 
}
@keyframes btonSuprimer{
    0%{
        transform: scale(0.5);
        color: white;
        background-color: red;
        /* border-radius: 50%; */
    }
    25%{
        transform: scale(1);
        color: rgb(5, 24, 37);
        background-color: red;
        /* border-radius: 50%; */

    }
    50%{
        transform: scale(1);
        color: white;
        background-color: red;
        /* border-radius: 50%; */
    }
    75%{
        transform: scale(0.5);
        color: rgb(5, 24, 37);
        background-color: red;
        /* border-radius: 50%; */

    } 
     100%{
        transform: scale(1);
        color: white;
        background-color: rgb(28, 59, 2);
        /* border-radius: 50%; */
        
    }
}
#annuler{
    animation: btonAnnuler 2s ease-in-out infinite; 

}
 @keyframes btonAnnuler{
    0%{
        transform: scale(0.5);
        color: white;
        background-color: rgb(26, 54, 3);
    }
    25%{
        transform: scale(1);
        color: rgb(5, 24, 37);
        background-color: rgb(154, 255, 71);

    }
    50%{
        transform: scale(1);
        color: white;
        background-color: rgb(36, 77, 4);
    }
    75%{
        transform: scale(0.5);
        color: rgb(5, 24, 37);
        background-color: rgb(154, 255, 71);

    }
    100%{
        transform: scale(1);
        color: white;
        background-color: rgb(28, 59, 2);
        
    }
} 
.msgModal{
    display: flex;
    margin-top: 30px;
}
.contentCorbeille{
    position: absolute;
    top: 1vh;
    right: 0;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 10px;
    margin-top: 17vh;
    width: 20vw;
    height: 77vh;
    border: cadetblue solid 1px;
    background: url('JOM.png') no-repeat center;
    background-size: 85%;
    border-radius: 10px;
    transform: translateX(42vw);
    transition: transform 1s ease;
    /* background-color: rgb(51, 47, 41); */
    overflow-y: auto;   
    overflow-x: hidden;
}
 
.btnCorbeille{
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    bottom: 0%; 
    display: none;
     
}
.viderCache{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.restaurer{
    background-color: rgb(29, 29, 86);
    border: none;
    padding: 0 1px;
    color: white;
    font-size: 1rem;
}
.visibleButton{
    /* visibility: visible; */
}
.fa-trash{
    
    font-size: 2rem;
}
.corbeille{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
    background-color: transparent;
    
}
.tachCorbeille{
    display: grid;
    grid-auto-flow: column;
    width: 90%;
    height: 10vh;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.block{
    transform: translateX(0);
}


.notifier{
    position: absolute;
    right: 0;
    bottom: 0;
background-color: aliceblue;
border-top-left-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
 width: 30%;
    height:10% ;
    right: 20px;
    bottom: 20px;
    transform: translateY(20vh);
    transition: transform 1s ease;
}
.afficheNotifier{
    background: url('JOM.png') no-repeat ;
    background-size: 35%;
    position: absolute;
    right: 0;
    bottom: 0;
background-color: aliceblue;
border-radius: 10px;
display: flex;
justify-content: center;
/* align-items: center; */
 width: 30%;
    height: 15% ;
    right: 20px;
    bottom: 20px;
    font-size: 1.5rem;
    transform: translateY(0);

}
.succes{
    background-color: rgb(106, 109, 104);
    color: white;
}
.info{
    color: white;
    background-color: rgb(76, 76, 211)
}
.warcing{
    color: red;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: absolute;
    right: 40%;
    bottom: 65%;
}


